@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --bg-color: #1b1b1b;
  --color-second: #434343;
  --white: #ffffff;
  --family-font: "Source Code Pro", monospace;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--family-font);
}
