.modal {
  transition: 0.2s;
}
.modal-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: grid;
  place-items: center;
  padding: 1rem;
}
.modal-bg-box {
  background-color: var(--bg-modal);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 36.25rem;
  width: 100%;
}
.modal-bg-box_title {
  color: var(--white);
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
.modal-bg-box_boxinput {
  width: 100%;
  background-color: var(--bg-color);
  position: relative;
  padding: 0.5rem;
  border-radius: 100rem;
  border: 1px solid var(--color-second);
}
.modal-bg-box-boxinput__button {
  position: absolute;
  font-size: 1.125rem;
  color: var(--color-second);
  font-weight: 900;
  background: transparent;
  top: 0;
  bottom: 0;
  margin: auto 0.5rem;
}
.modal-bg-box-boxinput__input {
  background: transparent;
  color: var(--white);
  padding: 0 1.5rem;
  font-weight: 900;
}
.modal-bg-box_grid {
  display: grid;
  margin-top: 2rem;
}
.modal-bg-box_grid-one {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 5%;
  justify-content: space-between;
}

.modal-bg-box_grid-one__box {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  margin-bottom: 1rem;
}
.sessions {
  flex-direction: row;
}
.modal-bg-box-grid-one__label {
  font-size: 0.8rem;
  color: var(--color-second);
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.modal-bg-box-grid-one__input {
  width: 100%;
  background-color: var(--bg-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--white);
  font-weight: 900;
  font-size: 0.8rem;
}
.modal-bg-box_grid-one__box_button {
  width: 100%;
  border: 1px solid var(--color-second);
  width: 3rem;
}
.text-decoration {
  font-weight: 900;
  border-radius: 0.5rem;
  background-color: var(--bg-color);
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--white);
}
.modal-bg-box_grid-one__box_text {
  width: 5rem;
  text-align: center;
}
.modal-bg-box_grid-one__box__a {
  padding: 0.5rem;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 600;
  border-radius: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.modal-bg-box_grid-one__box img {
  width: 1rem;
}
.text-guide-modal {
  color: var(--white);
  text-align: center;
  font-weight: 600;
  margin-top: 1rem;
  font-size: 0.8rem;
}
.modal {
  transition: 1s;
  opacity: 0;
  visibility: hidden;
}
.modal-active {
  overflow: auto;
  opacity: 1;
  visibility: visible;
}
.modal .modal-bg-box {
  width: 28rem;
  transition: 0.3s;
  overflow: hidden;
}
.modal-active .modal-bg-box {
  width: 100%;
  overflow: visible;
}

@media (min-width: 600px) {
  .modal-bg-box_grid {
    grid-template-columns: 28% 68%;
    gap: 2%;
  }
  .modal-bg-box_grid-one {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  .modal-bg-box_grid-one__box {
    position: relative;
  }
  .end {
    margin-bottom: 0;
    top: 0.6rem;
  }
  .modal-bg-box_grid-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .text-guide-modal {
    margin-top: 3rem;
  }
}
